<% if(typeof prefix !== 'undefined' && prefix.length) { %>
<%= prefix %>
<% } %>

<% if(typeof label !== 'undefined' && label.length) { %>
<label><%= label %>
<% } %>
    <select
        class="<%= typeof classes !== 'undefined' && classes.length ? classes.join(' ') : '' %>"
        name="<%= typeof name !== 'undefined' && name.length ? name : '' %>" 
        <%= typeof disabled !== 'undefined' && disabled ? 'disabled' : '' %> 
        <% if(typeof attributes !== 'undefined' && _.keys(attributes).length) {
            _.forEach(attributes, function(value, attribute) { %>
            <%= attribute %>="<%= value %>" 
        <% });
        } %>
    >
        <% if(typeof options !== 'undefined' && _.keys(options).length) {
            _.forEach(options, function(text, value) { %>
            <option 
                value="<%= value %>" 
                <%= typeof defaultValue !== 'undefined' && defaultValue.indexOf(value) >= 0 ? 'selected' : '' %> 
            ><%= text %></option>
        <% });
        } %>
    </select>
    
<% if(typeof label !== 'undefined' && label.length) { %>
</label>
<% } %>

<% if(typeof suffix !== 'undefined' && suffix.length) { %>
<%= suffix %>
<% } %>