<% if(typeof prefix !== 'undefined' && prefix.length) { %>
<%- prefix %>
<% } %>

<% if(typeof label !== 'undefined' && label.length) { %>
<label><%- label %>
<% } %>
    <textarea
        class="<%= typeof classes !== 'undefined' && classes.length ? classes.join(' ') : '' %>"
        name="<%= typeof name !== 'undefined' && name.length ? name : '' %>" 
        <%= typeof disabled !== 'undefined' && disabled ? 'disabled' : '' %> 
        <%= typeof required !== 'undefined' && required ? 'required' : '' %> 
        value="<%= typeof defaultValue !== 'undefined' && defaultValue ? defaultValue : '' %>" 
        <% if(typeof attributes !== 'undefined' && _.keys(attributes).length) {
            _.forEach(attributes, function(value, attribute) { %>
            <%= attribute %>="<%= value %>" 
        <% });
        } %>
    >
    </textarea>
    
<% if(typeof label !== 'undefined' && label.length) { %>
</label>
<% } %>

<% if(typeof suffix !== 'undefined' && suffix.length) { %>
<%- suffix %>
<% } %>